@page "/"

<h1>Вариант 1: Редакция журнала</h1>

<pre>
Разработать информационную систему «Редакция журнала», которая содержит и использует информацию 
об авторах и их статьях, рубриках журнала, номерах журнала, гонорарах авторов.
Сервисы, которые должны быть разработаны:
</pre>
<ul>
    <li>выдать список авторов с персональными данными;</li>
    <li>вывести список статей заданного номера журнала;</li>
    <li>рассчитать гонорар всех авторов заданного номера журнала;</li>
    <li>вывести справку о заданном авторе;</li>
    <li>для заданного автора выдать список всех опубликованных статей и размер гонорара за каждую;</li>
    <li>вывести список статей всех журналов для заданной рубрики;</li>
    <li>выдать список всех рубрик журналов;</li>
    <li>рассчитать гонорар авторов заданной рубрики журналов, выпущенных в заданный период времени;</li>
    <li>рассчитать общий гонорар заданного автора за статьи, опубликованные во всех номерах журналов;</li>
    <li>выдать информацию о всех номерах журнала.</li>
</ul>
